{{head-layout}}
{{page-title "SaferMe Forms"}}
<div class="container mx-auto px-4 py-2 text-gray-800">
  {{outlet}}
  <div class="float-right w-24">
    <a href="https://www.safer.me/" target="_blank">
      <div class="text-xs -mb-2">
        Powered by
      </div>
      <img src="saferme-logo.png" alt="SaferMe" class="w-full">
    </a>
  </div>
</div>
